name: build

on:
  push:
    branches:
      - master
  pull_request:
    types: [ opened, labeled, unlabeled, synchronize ]

jobs:
  jvm:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        java-version:
          - 8
          - 11

    steps:
      - name: Checkout Project
        uses: actions/checkout@v3

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1.0.4

      - name: Configure JDK
        uses: actions/setup-java@v3.1.0
        with:
          distribution: temurin
          java-version: ${{ matrix.java-version }}

      - name: Run build with caching enabled
        uses: gradle/gradle-build-action@v2
        with:
          arguments: clean build -s

      - name: Upload Artifacts
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: gradle-versions-plugin-${{ github.workflow }}-${{ github.run_id }}
          path: |
            build/libs
            build/outputs
            build/publications
            build/distributions
            build/reports
            build/test-results
          if-no-files-found: warn
